* {
  all: unset;
}


/** Generic window ***********************************/
.genwin {
	//background-color: rgba(39, 40, 34, 0.7);
	background-color: rgba(0,0,0,0);
	border-radius: 8rem;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color: #81A1C1;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 10px 0px 0px 40px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}
.time_mer {
	color: #A3BE8C;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}
.time_day {
	color: #EBCB8B;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px 0px;
}

/** Music ********************************************/
.song {
	color: #8FBCBB;
	font-size : 24px;
	font-weight : bold;
	margin : 30px 0px 0px 0px;
}
.artist {
	color: #EBCB8B;
	font-size : 20px;
	font-weight : normal;
	margin : 0px 0px -20px 0px;
}
.btn_play {
	color: #A3BE8C;
	font-family: IosevkaTerm Nerd Font Mono;
	font-size : 70px;
}
.btn_play:hover {
	color: #A2A852;
}
.btn_controls {
	color: #EBCB8B;
	font-size : 32px;
	font-family: IosevkaTerm Nerd Font Mono;
}
.btn_controls:hover {
	font-size : 50px;
}
.lyrics {
	color: #EBCB8B;
	margin : -10px 0px 0px 0px;
}
.music_bar {
	color: #81A1C1;
	background-color: rgba(0,0,0,0.1);
}
