autostart
Code/*
composer
dconf
google-chrome
chromium
httptoolkit
libfm
lol.toml
ookla
pavucontrol.ini
picom
procps
pulse
skypeforlinux
user-dirs.dirs
user-dirs.locale
xfce4
libvirt
libreoffice
epdfview
btop
xpra
psysh
zoom*
.env
